
ubi-micro-weblogic/fmw_14.1.1.0.0_wls_lite_generic.jar
ubi-micro-weblogic/jdk-11.0.22_linux-x64_bin.rpm
ubi-micro-tomcat/commands/container-tomcat.service
ubi-micro-tomcat/commands/container-tomcat.service
ubi-micro-tomcat/commands/exec_bash.sh
ubi-micro-tomcat/commands/run_tomcat.sh
ubi-micro-tomcat/commands
ubi-micro-mysql/mysql-workbench-community-8.0.38-1.el9.x86_64.rpm
ubi-micro-mysql/mysql84-community-release-el9-1.noarch.rpm
ubi-micro-mysqlworkbench/mysql-workbench-community-8.0.40-1.el9.x86_64.rpm
ubi-micro-oracle-free/oracle-database-free-23ai-1.0-1.el9.x86_64.rpm
ubi-micro-oracle-free/oracle-database-preinstall-23ai-1.0-2.el9.x86_64.rpm
ubi-micro-weblogic/jdk-11.0.23_linux-x64_bin.rpm
ubi-micro-eclipse/eclipse-jee-2024-12-R-linux-gtk-x86_64.tar.gz
ubi-micro-eclipse/pleiades.tar.gz
ubi-micro-eclipse/pleiades.zip
ubi-micro-wagby/Wagby-9.2.6.zip
ubi-micro-eclipse/.local/
ubi-micro-eclipse/.eclipse/
ubi-micro-eclipse/.cache/
ubi-micro-eclipse/.java/
.gitignore
mysql9
